/* Material Icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
}

*{}::-webkit-scrollbar-track {
    background: #222;
}::-webkit-scrollbar-thumb {
    background: #444;
}::-ms-scrollbar-thumb {
    background: #444;
}::-ms-scrollbar-track {
    background: #222;
}